<%- include('partials/html-start.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/style.css">

    <nav class="navbar">
      <div class="navbar-container">
        <img src="/img/logo.png" alt="logo" class="logo-header"/>
          <input type="checkbox" name="" id="">
          <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
          </div>

          <ul class="nav-items">
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="/Login">Login</a></li>
              <li><a href="/Register">Sign Up</a></li>
          </ul>
          
      </div>
  </nav>


    <div class="container" id="modal">
       
        <button onclick="document.getElementById('id01').style.display='block'" class="button-add">Add a new quiz question!</button>
      
        <div id="id01" class="modal">
          <div class="modal-content">
            <div class="container">
              <span onclick="document.getElementById('id01').style.display='none'" class="button display-topright">&times;</span>
              
              <div class ="add_quiz">
              <form method="POST" action="/addQuiz">
                  <label for="name">Course Title</label>
                  <input name="question" placeholder="add your course title">
                  <br><br>
                  <label for="room_type">Description</label>
                  <input name="answer" placeholder="add brief descrption">
                  <br><br>
                  <label for="name">Question</label>
                  <input name="question" placeholder="...">
                  <br><br>
                  <label for="name">Answer</label>
                  <input name="question" placeholder="...">
                  <br><br>
                  <button type="submit" class="btn-add">ADD</button>
                  </form>
                  </div>
              <br><br>
              
            </div>
          </div>
        </div>
      </div>


<h4><%= quizData.length %> Collections</h4>
<div class="categories">
  <div class="criteria">
    <span>Questions</span>
    <span>Answers</span>
  </div>
</div>

<% for (var i=0; i < quizData.length; i++) { %>
<!-- start of question cards-->
    <div class="container" id="flashcards">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
        <form method="POST" action="/updateQuiz">
            <input type="hidden" name="id" value="<%= quizData[i]._id %>">
            <span class="quizcont"> <input type="text" class="quiz-block" name="name" value="<%= quizData[i].question %>"></span>
          </form>
           <!--  -->
           <div class="card-footer">
           <button type="submit" id="submit" class="button-update">Update</button>
        </div>
     
        <form method="POST" action="/deleteQuiz">
            <input type="hidden" name="id" value="<%= quizData[i]._id %>">
            <div class="card-footer">
            <button type="submit" id="delete" class="button-delete">Delete</button>
              </div>
          </form>
        </div>
            <div class="flip-card-back">

            <input type="text" name="room_type" value="<%= quizData[i].answer %>">
           
            <button type="submit" id="submit" class="button-update">Update</button>
        </form>
     
        <form method="POST" action="/deleteQuiz">
            <input type="hidden" name="id" value="<%= quizData[i]._id %>">
            <button type="submit" class="align-self-end btn btn-block btn-primary" style="margin-top: auto;" id="button-delete">Delete</button>
        </form>
        
    </div>
        </div>
    </div>
    <!-- end -->

<% } %>

<footer> Connected from my Mongodb 📟
    <a href="https://github.com/Jean-alien/big-product-team2" target="_blank" class="footer-link"> Source Repo</a>
</footer>

<%- include('partials/html-end.ejs') %>