<%- include('partials/html-start.ejs') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<header>
    <div class="header">
      <img src="./partials/logos (3)/Ubiquiz_transparent.png" alt="Logo Image" class="logo">
      <p class="header-text">Nocturnal Learning</p>
      <div class="header-right">
        
        <a href="https://github.com/Jean-alien/maple-leaves-quebec">QUEBEC Source Code</a>
        <a href="https://github.com/Jean-alien">My GitHub</a>
        <a href="https://gist.github.com/barrycumbie/021e297110eff53965d40d400d308ee2" target="_blank">Guideline</a>
        <a href ="/cards">Cards</a>
    </div>
    </div>
    </header>

<h3>Creat a new quiz question!</h3>
<div class ="add_hotel">
<form method="POST" action="/addQuiz">
    <label for="name">Course Title</label>
    <input name="question" placeholder="Please enter a title of a course">
    <br><br>
    <label for="room_type">Description</label>
    <input name="answer" placeholder="add a brief descrption..">
    <br><br>
    <label for="name">Question</label>
    <input name="question" placeholder="...">
    <br><br>
    <label for="name">Answer</label>
    <input name="question" placeholder="...">
    <br><br>
    <button type="submit">ADD</button>
    </form>
    </div>
<br><br>


<h4><%= quizData.length %> Collections</h4>
<div class="categories">
  <div class="criteria">
    <span>Questions</span>
    <span>Answers</span>
  </div>
</div>

<% for (var i=0; i < quizData.length; i++) { %>
<!-- start of question cards-->
<div class ="row">
  <div class ="col-md-12">
    <div class="container">
        <div class="card">
           
        <form method="POST" action="/updateQuiz">
            <input type="hidden" name="id" value="<%= quizData[i]._id %>">
             <input type="text" name="name" value="<%= quizData[i].question %>">
            <input type="text" name="room_type" value="<%= quizData[i].answer %>">
            <button type="submit" style="margin-left: 14px; background-color: rgb(111, 150, 223)">Update</button>
        </form>
        <form method="POST" action="/deleteQuiz">
            <input type="hidden" name="id" value="<%= quizData[i]._id %>">
            <button type="submit" style="margin-left: 10px; background-color: rgb(245, 45, 31)">Delete</button>
        </form>
        </div>
    </div>
    </div>
    </div>
    <!-- end -->

<% } %>

<footer> Connected from my Mongodb 📟
    <a href="/send">send </a> |
    <a href="https://github.com/Jean-alien/maple-leaves-quebec" target="_blank"> Source Repo</a>
</footer>

<%- include('partials/html-end.ejs') %>